<div class="btn-toolbar">
	

	<div class="btn-group"   style="margin-right: 10px;">	
		<%= link_to 'Подписать', accept_statement_path(@statement), confirm: "Вы уверены?", :class => "btn btn-success" %>
	</div>
	
	<div class="btn-group"   style="margin-right: 10px;">	
		<%= link_to 'Отклонить', refuse_statement_path(@statement), confirm: "Вы уверены?", :class => "btn btn-danger" %>
	</div>
</div>