<div class="left_menu">
	
	<div class="doc-left">
		<a href="#" class="main"></a>
	  <a href="#" class="doc active"><span class="badge badge-important">7</span></a>
	  <a href="#" class="az"></a>
	  <a href="#" class="chat"><span class="badge badge-warning big">88</span></a>
	  <a href="#" class="security"></a>
	  <a href="#" class="objects"></a>
	</div>
</div>