	  <p class="doc_search">
	    <%= text_field_tag :query, params[:query], :placeholder => "Поиск по документам", :class => "lupe" %>
			<%= hidden_field_tag :direction, params[:direction] %>
			<%= hidden_field_tag :sort, params[:sort] %>
			<%= content_tag(:span, current_user.first_name_with_last_name, :class => "user_name") %>
			<a href="/users/sign_out" class="label logout">&#xf011;</a>
	  </p>