<h2>Заявка на новый пропуск</h2>

<%= form_for @permit do |f| %>

  <% if @permit.errors.any? %>
    <div id="error_explanation">
      <h4 style="color: #9a0000;">Пожалуйста, исправьте некорректные поля:</h4>
      <ul>
      <% @permit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render 'permit_form_fields', f: f %>


  <div class="actions">
    <%= f.submit 'Создать', :class => 'btn btn-primary' %>
  </div>

<% end %>