<h2 style="text-align: center; margin-top: 50px;">Стой, кто идет?</h2>

<div class="hero-unit sign_in" style="margin-top: 40px">
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>


<div class="control-group">
  <div class="controls">
	<%= f.email_field :email, :autofocus => true, :placeholder => 'email'  %>
  </div>
</div>

<div class="control-group">
  <div class="controls">
    <%= f.password_field :password, :placeholder => 'пароль' %>
  </div>
</div>

  <div><%= f.submit "Вход", :class => 'btn' %></div>
<% end %>

</div>
