// Place all the styles related to the documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.doc-left {
	
	margin-top: 50px;
	font-family: Helvetica;
	font-weight: bold;
	font-size: 13px;
	
	li.nav-header {
		padding: 0px;
	}
	
}

.new-wrap {
	width: 100%;
	
	
	span.header {
		font-weight: bold;
		font-family: Arial;
		font-size: 14px;
	}
	
}

.new-header {
	background-color: #f9f9f9;	
	padding: 3px 20px;
	border-bottom: solid 1px #dddddd;
}

.new-title {
	background-color: white;
	padding: 3px 20px;
	font-family: Helvetica;
	font-size: 13px;
	
	input {
		margin-top: 10px;
		margin-left: 10px;
	}
	
	select {
		margin-top: 10px;
		margin-left: 18px;
	}
	
		
}

.new-text-wrap {
	border-top: solid 1px #dddddd;
	background-color: #f9f9f9;
	padding: 20px;
	margin: 0px;
	
	textarea {
		padding: 5px;
		margin: 0px;
		width: 98%;
		height: 1000px !important;
	}
}

.doc-left a.active {
	color: red;
}