// Place all the styles related to the documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
	outline: 0;
  outline: none;
}

.inform td{
	position: relative;
	background-color: #f7fffd;
}
.badge-warning,
	.badge-important {
  border-radius: 50%;
  background-color: #e68c5c;
  position: absolute;
  right: -5px;
  top: -5px;
  width: 19px;
  height: 19px;
  padding: 0;
  color: #fff;
  display: block;
  text-align: center;
  vertical-align: middle;
  line-height: 19px;
  font-size: 12px;
  letter-spacing: -1px;
  z-index: 18;
  &.big {
  	border-radius: 25%;
  }
}
	.badge-important {
		background-color: #e63d4d;
	}
.doc-left {
	position: fixed;
	display: block;
	left: 0;
	top: 0;
	width: 70px;
	overflow: hidden;
	height: 100%;
	background-color: #f6f6f6;
	border: 1px solid #fff;
	z-index: 999999;
	font-size: 15px;
	list-style: none;
	a {
		padding: 0px;
		margin:10px auto;
		width:55px;
		height:46px;
		display: block;
		position: relative;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		&:first-child{
			-webkit-border-radius: 0;
			-moz-border-radius: 0;
			border-radius: 0;
		}
	}
	

	.main {
	margin: 0;
	width: 70px;
	height: 70px;
	z-index: 30;
	background: url('main-menu/main-2.png') no-repeat center;
	&:hover {
		background: #1ba0e1 url('main-menu/main.png') no-repeat center; 
		}
	}
	.chat {
	background: #fff  url('left-icon/chat-1.png') no-repeat center;
	&:hover {
		background: #76d4ce url('left-icon/chat-2.png') no-repeat center;
		}
	&.active {
		background: #fff url('left-icon/chat-3.png') no-repeat center;
	}
	}
	.doc {
	background: #fff url('left-icon/doc-1.png') no-repeat center;
	&:hover {
		background: #76d4ce url('left-icon/doc-2.png') no-repeat center;
		}
	&.active {
		background: #fff url('left-icon/doc-3.png') no-repeat center;
	}
	}
	.az {
	background: #fff url('left-icon/az-1.png') no-repeat center;
	&:hover {
		background: #76d4ce url('left-icon/az-2.png') no-repeat center;
		}
	&.active {
		background: #fff url('left-icon/az-3.png') no-repeat center;
	}
	}
	.security {
	background: #fff url('left-icon/security-1.png') no-repeat center;
	&:hover {
		background: #76d4ce url('left-icon/security-2.png') no-repeat center;
		}
	&.active {
		background: #fff url('left-icon/security-3.png') no-repeat center;
	}
	}	
	.objects {
	background: #fff url('left-icon/objects-1.png') no-repeat center;
	&:hover {
		background: #76d4ce url('left-icon/objects-2.png') no-repeat center;
		}
	&.active {
		background: #fff url('left-icon/objects-3.png') no-repeat center;
	}
	}
}

	.active:after{
		content:"";
		display: block;
		position: absolute;
		width: 100%;
		height: 150%;
		right:-10px;
		top:-11px;
		background: url('active.png') no-repeat center right;
		
	}





.new-wrap {
	width: 100%;
	
	
	span.header {
		font-weight: bold;
		font-family: Arial;
		font-size: 14px;
	}
	
}

.new-header {
	background-color: #f9f9f9;	
	padding: 3px 20px;
	border-bottom: solid 1px #dddddd;
}

.new-title {
	background-color: white;
	padding: 3px 20px;
	font-family: Helvetica;
	font-size: 13px;
	
	label {
		text-indent: 10px;
	}
	
	
	select {
		margin-top: 10px;
		margin-left: 18px;
	}
	
		
}

.new-text-wrap {
	border-top: solid 1px #dddddd;
	background-color: #f9f9f9;
	padding: 20px;
	margin: 0px;
	
	textarea {
		padding: 5px;
		margin: 0px;
		width: 98%;
		height: 1000px !important;
	}
}

.doc-left a.active {
	color: red;
	font-weight: bold;
}

.confidential {
	height: 45px;
}

.confidential label, input {
	display: inline-block;
	padding-top: 10px;

}

.confidential input[type="checkbox"] {
	float :none;
	margin: 0px;
}

.confidential select {
	display: inline-block;
	margin-top: 0px;
}

.table-striped th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.table-striped th .asc {
  background-image: url('up_arrow.gif');
}

.table-striped th .desc {
  background-image: url('down_arrow.gif');
}

.left_menu {
	position: absolute;
	display: block;
	left: 0;
	top: 0;
	width: 70px;
	height: 100%;
	background-color: #f6f6f6;
	border: 1px solid #fff;
	z-index: 1;
}

td span{
	position: relative;
}
.doc_header{
	width: 50%;
	position: relative;
}
.btn-toolbar{
	margin-top:50px;
}
.span12{
	position: relative;
	width: 940px;
}
.doc_search{
float: right;
position: absolute;
right: 30px;
top: 15px;
display: inline-block;
}
.user_name{
	margin-left: 40px;
	color: #ccc;
	font-size: 13px;
	line-height: 10px;
}
.expanded li{
	list-style: none;
	position: relative;
	margin-left: 90px;
	span{
		color: #666;
		font-size: 12px;	
		display: block;
		white-space:nowrap;
		position: absolute;
		top: 0px;
		right:30px;
		margin-right: 100%;
	}
}
.exp_type{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 11px;
	font-family: 'open_sanssemibold';
	letter-spacing: -1px;
}
.exp_date{
	color: #666;
	a {
		color: #0e84cf;
	}
}
.exp_title{
	font-size: 26px;
	line-height: 26px;
	font-family: 'open_sanslight';
	width: 430px;	
}
.exp_fromto{
	color:#666;
	margin-top: -10px;
	a{
		color: #666;
		text-decoration: underline;
	}
}
.inform td{
	.btn {
		position: relative;
		bottom: 0;
		float: right;
		margin: 10px;
	}
 .label{
	position: absolute;
	right: 8px;
	top: 20px;
	min-width: 80px;
	}
}
 .doc_sample{
 	position: absolute;
 	right: 173px;
 	top: 50px;
 }
 .inform td ul{
 	min-height: 350px;
 }
 .expanded li {
	line-height: 20px;
	margin-top: 15px;
}
.attach p{
	line-height: 20px;
	margin-bottom: 1px;
}
.tab_right{
	float: right;
	text-align: right;
	& span{
		min-width: 80px;
	}
}
tr {
	border-bottom: 1px solid #ccc;
}
td {
	border-bottom: none;
	min-height: 40px;
}
.lupe{
	background: url(lupe.png) no-repeat right 10px center;
}
.control.checkbox{
	margin-left: -20px;
	margin-top: 3px;
}
.letter_input{
  width: 778px;
  height: 299px;
  display: block;
}
.logout{
	font-family: "FontAwesome";
	min-width: 0;
	font-size: 18px;
	margin-bottom: 20px;
}
.inform td .control.checkbox{
	position: absolute;
}
.login {
	margin: -14px 0 0 10px;
	font-size: 16px;
	font-family: 'open_sanslight';
	padding-right: 10px;
	padding-left: 10px;
	&:hover{
		background-color: #666666;
		color: #fff;
	}
}
.login_header{
	margin-top: 50px;
	margin-bottom: 70px;
	color: #00bc80;
}
.logos{
	position: absolute;
	bottom: 30px;
}
.sign_in{
	margin-left: -40px;
}
