// Place all the styles related to the statements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.approvers {
	display: inline-block;
	width: 100%;
}

.approver {
	float: left;
	width: 33%;
	background-color: white;
	
	input {
		margin-top: 3px;
		margin-left: 0px;
		margin-right: 5px;
	}
	
	label {
		margin-bottom: 0px;
	}
}
